.signup {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
}

.signup .signup-card {
  width: 40%;
  max-height: 100%;
  background-color: #fff;
  padding: 32px 40px 40px 40px;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 8px #0000003d;
  overflow-y: auto;
}

.signup .signup-card::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
  border-radius: 8px;
  visibility: hidden;
}

.signup .signup-card::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 8px;
  visibility: hidden;
}

.signup .signup-card:hover::-webkit-scrollbar,
.signup .signup-card:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.signup .signup-card-title {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.signup .signup-card-title-text {
  font-size: 28px;
  color: rgb(42, 42, 42);
}

.signup .signup-form-input {
  margin-top: 20px;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 16px;
  color: rgb(42, 42, 42);
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  box-shadow: 0 0 1px #00000078;

  &:focus {
    outline: none;
    box-shadow: 0 0 1px #000;
  }
}

.signup .upload-sec {
  margin-top: 20px;
}

.signup .upload-sec-show {
  display: flex;
  align-items: center;
  gap: 12px;
  width: max-content;
}

.signup .upload-sec-show-text {
  font-size: 16px;
  color: rgb(42, 42, 42);
  width: 90px;
}

.signup .upload-sec-show-icon-wrapper {
  position: relative;
  border-radius: 100%;
  width: 32px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 0px 0px #000000a1;
}

.signup .upload-sec-show-icon {
  color: #000000a1;
}

.signup .upload-form-file {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.signup .login-signup-cancel-btns {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 25px;
}

.signup .login-btn,
.signup .signup-btn,
.signup .cancel-btn {
  padding: 0 20px;
  border: none;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  height: 38px;
  cursor: pointer;
}

.signup .login-btn,
.signup .signup-btn {
  color: #fff;
  background-color: rgb(42, 42, 42);
}

.signup .cancel-btn {
  color: rgb(42, 42, 42);
  background-color: rgba(0, 0, 0, 0.1);
}

.signup .validation-error-text {
  color: #dc3545;
  font-size: 14px;
  margin-top: 5px;
}

.signup .validation-error-upload {
  margin-top: 10px;
}

.signup .validation-success-text {
  color: rgb(42, 42, 42);
  font-size: 14px;
  margin-top: 10px;
}

.signup .validation-success-text span {
  color: #0d6efd;
}

.signup .error-message {
  font-size: 14px;
  margin-top: 20px;
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
  padding: 15px 20px;
  border: 1px solid #f5c2c7;
  border-radius: 4px;
}

.signup .success-message {
  font-size: 14px;
  margin-top: 20px;
  color: #0f5132;
  background-color: #d1e7dd;
  padding: 15px 20px;
  border: 1px solid #badbcc;
  border-radius: 4px;
}

.signup .rotate {
  margin-left: 2px;
  -webkit-animation: rotate 2s infinite linear;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.signup .password-wrapper {
  position: relative;
  width: 100%;
}

.signup .password-input {
  width: 100%;
  padding-right: 40px;
}

.signup .password-toggle {
  position: absolute;
  right: 10px;
  top: 48%;
  cursor: pointer;
  color: #666;
}

